@import '../common'
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

.navbar
  height 1.5rem
  background-color $darkBgColor
  .navbar-brand
    color $lightTextColor
  .nav
    color $lightTextColor
    font-size 1.5rem
